.tp-wrapper {
  width: 50%;
  border: 1px solid green;
  margin: 5% auto;
}

.header {
  display: flex;
  color: white;
  justify-content: space-between;
  font-size: 35px;
  font-weight: 700;
  padding: 20px;
}