.tp-wrapper {
  width: 40%;
  border: 5px solid green;
  background: gray;
  margin: 5% auto;
}

.header {
  display: flex;
  color: white;
  justify-content: space-between;
  font-size: 35px;
  font-weight: 700;
}