.todo-el {
  display: flex;
  background-color: hsl(235, 24%, 19%);
  border-bottom: 1px solid hsl(237, 14%, 26%);
  border-radius: 5px;
}

.btn-todo-wrapper {
  display: flex;
  width: 100%;
  align-self: center;
  align-items: center;
  color: hsl(236, 33%, 92%);
}

.btn-todo-wrapper:hover + .remove-btn {
  display: block;
}

.remove-btn:hover {
  display: block;
}

.incomplete, .complete {
  width:18px;
  height:18px;
  border: 1px solid hsl(237, 14%, 26%);
  border-radius: 50%;
  background: transparent;
  outline: none;
  margin: 10px 20px;
}

.complete {
  background: url('../../assets/icon-check.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: hsl(220, 98%, 61%);
}

.incomplete:hover {
  cursor: pointer;
  border: 1px solid hsl(220, 98%, 61%);
}

.remove-btn {
  background: url("../../assets/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  outline: none;
  border: none;
  color: gray;

  
  width: 20px;
  padding: 10px 20px;

  display: none;
}

span {
  cursor: pointer;
}