.action-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;

  background-color: hsl(235, 24%, 19%);
  border-radius: 0 0 5px 5px;
  padding: 10px 20px;
}

.actionable{
  color: gray;
}

.actionable:hover {
  cursor: pointer;
  color: hsl(220, 98%, 61%);
}